[submodule "UTTS_backend"]
	path = UTTS_backend
	url = git@github.com:Alexandre-Roussel48/UTTS_backend.git
[submodule "UTTS_frontend"]
	path = UTTS_frontend
	url = git@github.com:Alexandre-Roussel48/UTTS_frontend.git
[submodule "UTTS_database"]
	path = UTTS_database
	url = git@github.com:Alexandre-Roussel48/UTTS_database.git
