[submodule "UTTS_backend"]
	path = database
	url = git@github.com:Alexandre-Roussel48/UTTS_backend.git
[submodule "UTTS_frontend"]
	path = frontend
	url = git@github.com:Alexandre-Roussel48/UTTS_frontend.git
[submodule "UTTS_database"]
	path = database
	url = git@github.com:Alexandre-Roussel48/UTTS_database.git
