'''
Fichier de configuration générale de l'application
'''

import os.path

SECRET_KEY = '123456' //Use uuid for secret key

db_name = 'db'
db_username = 'db_user'
db_password = 'db_password'
db_host = 'db_host'
db_port = 'db_port'