services:
  mysql_db:
    image: mysql:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'db_root_password'
      MYSQL_DATABASE: 'db_name'
      MYSQL_USER: 'db_username'
      MYSQL_PASSWORD: 'db_password'
    ports:
      - db_port:db_port